<!DOCTYPE html>
<html>
  <title>ChatBot</title>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>BlueBot</h1>
        <p>Out ChatBot works for you!</p>
      </div>
      <div class="chatbot", id="blueBot">
        <div class="bot-text">
          <p>How may I assist you, my fellow human?</p>
        </div>
      </div>
      <div class="input-container">
        <div class="wrapper">
          <input type="text" id="user-input" placeholder="Type your question here...">
          <button id="send-button" onclick="message()">
            <img src="static\pictures\sendicon.png" alt="send" border="0" height="25px" width="25px">
          </button>
        </div>
      </div>
    </div>
<script>


  function message() {
    var userMessage = document.getElementById("user-input").value;
    var botMessage = document.getElementById("blueBot");

    var userDiv = document.createElement('div');
    userDiv.classList.add('user-text')
    userDiv.innerHTML = '<p>' + userMessage + '</p>';
    botMessage.appendChild(userDiv);
  
    fetch('/chatBot', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({message: userMessage}),
    })
    .then(response => response.json())
    .then(data => {
      setTimeout(function() {
      var bot_res = document.createElement('div');
      bot_res.classList.add('bot-text');
      bot_res.innerHTML = '<p>' + data.message + '</p>';
      botMessage.appendChild(bot_res);
      botMessage.scrollTop = botMessage.scrollHeight;
      }, 500);
      
    })
    .catch(error => {
      console.error('Integration error: ', error);
    });

    document.getElementById('user-input').value = '';

  }

    // Add an event listener to the input field
    document.getElementById('user-input').addEventListener('keyup', function(event) {
    if (event.key === "Enter") { // Check if Enter key is pressed
      event.preventDefault(); // Prevent default form submission
      document.getElementById('send-button').click(); // Trigger the click event of the send button
    }
    });
</script>
</div>
</body>
</html>
