body {
    font-family: 'Arial', sans-serif;
    background-color: #212c3b;
    color: #000000;
    margin: 0;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }

  .input-container {
    position: relative;
    flex-grow: 1;
  }
  
  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  
  #send-button {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding-right: 10px;
    right: 5px;
  }

  .header {
    text-align: center;
    margin-bottom: 40px;
  }

  .header h1 {
    color: #fff;
    font-size: 36px;
    margin: 0;
    line-height: 1.3;
  }

  .header p {
    color: #a8aec1;
    font-size: 18px;
    margin: 10px 0 0;
  }

  ::-webkit-scrollbar {
    width: 18px;
  }

  ::-webkit-scrollbar-track {
    background-color: #35354c;
    border-radius: 100px;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.7);
    border-radius: 100px;
  }

  .chatbot {
    border-radius: 8px;
    padding: 20px;
    height: 450px;
    overflow-y: auto;
  }

  .user-text {
    margin-bottom: 10px;
    text-align: right;
  }

  .bot-text {
    margin-bottom: 10px;
    text-align: left;
  }

  .user-text p,
  .bot-text p {
    background-color: #a3f1ff;
    border-radius: 20px;
    padding: 12px 20px;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }

  .user-text p {
    background-color: rgb(181, 92, 181);
  }

  .input-container {
    margin-top: 20px;
    bottom: -10px;
  }

  .input-container input {
    flex-grow: 1;
    padding: 14px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    color: #303030;
  }

  .wrapper button {
    vertical-align: top;
    background-color: #212c3b;
    color: #5c706a;
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .chatbot button:hover {
    vertical-align: top;
    background-color: white;
    color: #5c706a;
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .input-container button {
    background-color: #ffffff;
  }